name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Download fest file from DMP
      run: wget https://www.dmp.no/globalassets/documents/om-oss/distribusjon-av-legemiddeldata/fest/festfiler/fest251.zip
    - name: Extract the fest file
      run: 7z x fest251.zip
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
